*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(241, 241, 241);
}

.inp{
    border-radius: 10px;
}

.heading1{
    font-size: 5em;
}
.heading{
    border-radius: 10px;
    font-size: 4em;
    font-weight: bold;
    font-style: italic;
}
.btn1:hover{
    transition: 0.5s;
    box-shadow: 8px 8px 10px black;
}
.extra{
    padding: 10px 5px;
}